*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        
}

:root{
    --family-primary: "Inter", sans-serif;
    --family-secondary:"David Libre", serif;
    
    --color-primary:#EA6D27;
    --color-Charcoal-Blue:#101A24;
    --color-L-Gray :#F3F4F4;
    --color-S-Gray:#5C6574;
    --color-white:#fff;

    --font-regular:400;
    --font-medium:500;
    --font-semi-bold:600;
    --font-bold:700;


}

html{
    font-size:16px;

}
body{
    color: var(--color-Charcoal-Blue);
    scroll-behavior: smooth;
    font-family: var(--family-primary);
    background-repeat: no-repeat;
    /* background-image: url("../image/circles-line.svg"); */
    /* background-image: url("../image/slogan-logo.svg"); */
    
    background-repeat: no-repeat;
}

.list-unstyled{
    list-style: none;
    padding: 0;
}


@media (max-width: 767px){
    html, body{
        font-size: 14px;
    }
}





/* typography */

/* text-color */
.text-primary{color: var(--color-Charcoal-Blue);}
.text-S-Gray{color: var(--color-S-Gray);}
.text-L-Gray{color:var(--color-L-Gray)}

/* text-size*/



.txt-12{font-size: 0.75rem;}
.txt-15{font-size: 0.94rem;}
.txt-16{font-size: 1rem;}
.txt-20{font-size: 1.24rem;}
.txt-50{font-size: 3.125rem;}
.txt-60{font-size: 3.75rem;}
.txt-70{font-size: 4.375rem;}


/* font-weight */
.font-regular{font-weight: var(--font-regular);}
.font-medium{font-weight: var(--font-medium);}
.font-semi-bold{font-weight: var(--font-semi-bold);}
.font-bold{font-weight: var(--font-bold);}

/* font family */
.font-inter{
    font-family: var(--family-primary);
}
.font-david{
    font-family: var(--family-secondary);
}

/* line-height */

.lh-21{line-height: 1.313rem;}
.lh-26{line-height: 1.625rem;}
.lh-29{line-height: 1.83rem;}
.lh-40{line-height: 2.5rem;}
.lh-58{line-height: 3.625rem;}
.lh-65{line-height: 4.1rem;}
.lh-72{line-height: 4.5rem;}

/* margin */

.mr-192{margin-left: 12rem;}
.mb-94{margin-bottom: 5.875rem;}
.mb-76{margin-bottom: 4.75rem;}

/* .mb-156{margin-bottom: 9.75rem;} */
.mb-331{margin-bottom: 20.688rem;}

.mb-69{margin-bottom: 4.31rem;}
.mb-68{margin-bottom: 4.25rem;}
.mb-54{margin-bottom: 3.375rem;}
.mb-25{margin-bottom: 1.56rem;}
.mb-21{margin-bottom: 1.313rem;}
.mb-18{margin-bottom: 1.125rem;}

.mt-21{margin-top: 1.313rem;}
.mt-25{margin-top: 1.563rem;}
.mt-117{margin-top: 7.313rem;}
.mt-155{margin-top: 9.688rem;}
.mb-21{margin-bottom: 1.313rem;}



/* padding */


.pd-t-196{
    padding-top: 12.25rem;
}
.pd-t-92{
    padding-top: 5.75rem;
}
.pd-t-114{
    padding-top: 7.125rem;
}
.pd-t-25{
    padding-top: 1.563rem;
}

.pd-t-313{
    padding-top: 19.563rem;
}
.pd-b-398{
    padding-bottom: 24.875rem;
}
.pd-b-158{
    padding-bottom: 9.875rem;
}
.pd-b-218{
    padding-bottom: 13.625rem;
}
.pd-b-331{
    padding-bottom: 20.688rem;
}
.pd-b-25{
    padding-bottom: 1.563rem;
}

.pd-bl-125{
    padding-block: 7.813rem;
}
.padding-right-20{
    padding-right: 50px;
}



/* gap */


.gap-70{
    gap:4.374rem;
}
.gap-10{
    gap:0.625rem;
}
.gap-14{
    gap:0.875rem;
}
.gap-30{
    gap:1.875rem;
}
.gap-33{
    gap:2.063rem;
}
.gap-42{
    gap:2.625rem;
}


/* background-color*/
.bg-gray{background-color: var(--color-L-Gray);}
.bg-white{background-color: var(--color-white);}


/* width */

.width-30{
    width: 40%;
}
.width-50{
    width: 60%;
}
.width-40{
    width: 50%;
}
.width-34{
    width: 34%;
}

.width-70{
    width: 70%;
}
.width-60{
    width: 60%;
}

.width-57{
    width: 57%;
}




/* container */

.container{
    max-width: 1100px;
    margin-inline: auto;
    
}
@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
}
@media (max-width: 991px){
    .container{
        max-width: 720px;
    }
}
@media (max-width: 767px){
    .container{
        max-width: 550px;
    }
}
@media (max-width: 575px){
    .container{
        max-width: 100%;
        padding-inline: 1rem;
    }
}


/* button & links */
a{
    text-decoration: none;
    transition: .4s all;
    color: inherit;
}




.btn{
    display: inline-block;
    font-family: var(--family-secondary);
    padding-top: 1rem;
    padding-bottom: 1.19rem;
    padding-inline: 2rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    border-radius: 10px 3px 10px 3px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6); 

}



.btn-black{
    padding-inline: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.50rem;
    background-color: var(--color-Charcoal-Blue);
}




/* .btn:hover {
    background-color: #c75b29; 
} */




/*icons */
.icons{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 8px;
    display: flex;
    justify-content: center;


}
.icons:hover{
    background-color: var(--color-primary);

}











/* Images */
img{
    max-width: 100%;
    height: auto;
}




/* utility classes */


.d-flex{
    display: flex;
}
.text-center{
    text-align: center;
}

.justify-content-center{
    justify-content: center;
}


.justify-content-around{
    justify-content: space-around;
}
.justify-content-evenly{
    justify-content: space-evenly;
}

.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}

.border-top{
    border-top: 1px solid rgba(16, 26, 36, 0.1);
}

.margin-auto{
    margin: auto;
}
.block{
    display: block;
}

.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.opt-20{
    opacity: 20%;
}
.opt-10{
    opacity: 10%;
}



























